@media (max-width: 950px) {
    .display-flex {
        flex-direction: column;
    }

    .border-between {
        display: none;
    }

    .right-side-inputs {
        margin-left: 0;
        margin-right: 96px;
        max-width: 100%;
    }

    .left-side-inputs {
        margin-right: 96px;
        width: auto;
    }

    .bottom-button-container {
        max-width: 440px;
        margin-right: 96px;
    }
}

@media (max-width: 730px) {
    .add-task-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .add-task-headline {
        font-size: 47px;
    }

    .add-task-headline {
        margin-left: 0;
        margin-left: 16px;
        margin-right: 16px;
        margin-top: 112px;
    }

    .right-side-inputs {
        margin-right: 16px;
        margin-left: 16px;

    }

    .left-side-inputs {
        margin-right: 16px;
        margin-left: 16px;
    }

    .display-flex {
        margin-left: 0;
    }

    .prio-selection {
        height: 41px;
        width: 121px;
    }

    .medium-selection {
        height: 41px;
        width: 121px;
    }
}