@media (max-width: 1200px) {
    .dialog-box {
        box-sizing: border-box;
        margin-top: 20px;
        padding: 32px;
        height: calc(100vh - 172px);
    }

    .dialog-close-button {
        top: 32px;
        right: 32px;
    }

    .add-task-headline-dialog {
        width: 396px;
        height: 56px;
        font-size: 47px;
        line-height: 56.4px;
    }

    .add-task-form-dialog {
        box-sizing: border-box;
        width: 396px;
        height: 529px;
        padding: 32px 15px 0 0;
        flex-direction: column;
        gap: 16px;
        overflow-y: auto;
    }

    .gap-16 {
        gap: 8px;
    }

    .gap-24 {
        gap: 16px;
    }

    .task-label-input-group {
        width: 364px;
    }

    .task-label-input-group-mobile {
        width: 364px;
        display: flex;
    }

    .task-label-text {
        height: 19px;
        font-size: 16px;
        line-height: 19.2px;
    }

    .task-input {
        padding: 10px 21px;
        height: 40px;
        font-size: 16px;
        line-height: 19.2px;
    }

    .task-textarea {
        padding: 18px 21px;
        height: 88px;
        font-size: 16px;
        line-height: 19.2px;
    }

    .task-select {
        font-size: 16px;
        line-height: 19.2px;
    }

    .priority-button-group {
        height: 61px;
    }

    .priority-button {
        box-sizing: border-box;
        padding: 11px 10px;
        height: 41px;
    }

    .priority-button-text {
        height: 19px;
        font-size: 16px;
        line-height: 19.2px;
    }

    .priority-medium-button-text {
        height: 19px;
        font-size: 16px;
        line-height: 19.2px;
    }

    .task-plus {
        top: 8px;
        right: 18px;
    }

    .add-task-bottom-group-dialog {
        padding: 16px 0;
        width: 100%;
        align-items: center;
    }

    .add-task-hint-text {
        padding: 0;
    }

    .clear-button {
        display: none;
    }

    .create-task-button {
        padding: 16px;
        background-color: #2A3647;
        border: unset;
        border-radius: 10px;
        display: flex;
        gap: 4px;
    }

    .ctb-text {
        width: 123px;
        height: 24px;
        font-family: 'Inter', sans-serif;
        font-size: 21px;
        font-weight: 700;
        line-height: 25.2px;
        color: #FFFFFF;
    }

    .d-none-mobile {
        display: none;
    }
}

@media (max-width: 730px) {
    .dialog[open] {
        display: none;
    }
}