@media (max-width: 1400px) {
    .contact-viewer {
        display: none;
    }
}

@media (max-width: 730px) {
    .content {
        width: 100%;
        height: calc(100vh - 172px);
        left: 0px;
    }

    .content-row {
        justify-content: center;
    }

    .contacts {
        padding-left: 14px;
        width: 100%;
        max-width: 428px;
        height: calc(100vh - 172px);
    }

    .contacts-header {
        display: none;
    }

    .contacts-collector {
        padding: 24px;
        width: 100%;
        max-width: 400px;
    }

    .contacts-contact {
        width: 100%;
        max-width: 352px;
    }


    /* Bitte neuen Button hinzufuegen!!! */
    .contacts {
        position: relative;
    }

    .add-contact-button-mobile {
        /* margin: 0 16px 32px 0; */
        padding: 12px;
        border: unset;
        border-radius: 46px;
        background-color: #2A3647;
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
        display: flex;
        justify-content: center;
        align-items: center;
        /* position: absolute;
        right: 16px;
        bottom: 32px; */
    }

    .acb-mobile-img {
        width: 32px;
        height: 32px;
        object-fit: cover;
        object-position: center;
    }
}

@media (max-width: 400px) {
    .contact-profile {
        display: none;
    }
}


/* responsiveness of add contact form and edit contact form */
/* dialog add contact and edit contact einarbeiten */
/* responsiveness of contact-viewer einbauen */
/* responsiveness inklusive add-contact-button!!! */

/* responsiveness of board verbessern */