@media (max-width: 1400px) {
    #dialog-contact-viewer[open] {
        display: flex;
    }

    .contact-viewer {
        display: none;
    }

    .contact-viewer-mobile {
        margin-top: 16px;
        height: calc(100vh - 172px);
        overflow-y: hidden;
    }

    .backlog-contact {
        bottom: -74px;
        left: calc(50% - 163px);
        transition: 125ms bottom ease-in-out;
    }

    .backlog-contact-form {
        bottom: -74px;
        left: calc(50% - 163px);
    }

    .backlog-contact-form-in {
        bottom: 33px;
        transition: 125ms bottom ease-in-out;
    }

    .backlog-contact-form-out {
        transition: 125ms bottom ease-in-out;
    }
}

@media (max-width: 730px) {
    .content {
        width: 100%;
        height: calc(100vh - 172px);
        left: 0px;
    }

    .content-row {
        justify-content: center;
    }

    .contacts {
        padding-left: 14px;
        width: 100%;
        max-width: 428px;
        height: calc(100vh - 172px);
    }

    .contacts-header {
        display: none;
    }

    .contacts-collector {
        padding: 24px;
        width: 100%;
        max-width: 400px;
    }

    .contacts-contact {
        width: 100%;
        max-width: 352px;
    }

    .add-contact-button-mobile {
        display: flex;
    }

    .dialog {
        background-color: transparent;
    }

    .contact-viewer-mobile {
        margin-top: 20px;
        height: calc(100vh - 172px);
        background-color: #F6F7F8;
        border-radius: 0;
    }

    .contact-user-profile-mobile {
        min-width: 80px;
        min-height: 80px;
    }
}

@media (max-width: 428px) {
    .dialog-contact-settings {
        left: 0;
    }
}

@media (max-width: 400px) {
    .contacts-contact {
        gap: 25px;
    }

    .contact-name {
        height: 19px;
        font-size: 16px;
        line-height: 19.2px;
    }

    .contact-email {
        height: 14px;
        font-size: 12px;
        line-height: 14.4px;
    }

    .contact-user-profile-mobile {
        width: 64px;
        min-width: 64px;
        height: 64px;
        min-height: 64px;
    }

    .contact-user-name-mobile {
        font-size: 28px;
        line-height: 34px;
    }
}

@media (max-width: 326px) {
    .backlog-contact {
        width: 100%;
        max-width: 326px;
        height: 56px;
        font-size: 16px;
    }

    .backlog-contact-animation {
        left: 0;
    }

    .backlog-contact-form {
        width: 100%;
        max-width: 326px;
        height: 56px;
        font-size: 16px;
    }

    .backlog-contact-form-in {
        left: 0;
    }
}