<section class="dialog-contacts" onclick="stop(event)">
    <div class="dialog-contacts-left-clear">
        <img class="dcr-close-button-mobile" src="./img/close-dialog-white.png" alt="close-dialog-white"
            onclick="closeDialog('dialog-add-contact')">
        <img class="dialog-contacts-img" src="./img/logo-contact-form.png" alt="logo-contact-form">
        <div class="dialog-contacts-group">
            <div class="dcg-subgroup">
                <div class="dialog-contacts-headline">Add contact</div>
                <div class="dialog-contacts-subheadline">Tasks are better with a team!</div>
            </div>
            <img class="dialog-contacts-underline" src="./img/underline-dialog.png" alt="underline-dialog">
        </div>
    </div>
    <div class="dialog-contacts-right">
        <img class="dcr-close-button" src="./img/close-dialog.png" alt="close-dialog"
            onclick="closeDialog('dialog-add-contact')">
        <div class="dcr-profile-clear">
            <img src="./img/person-clear.png" alt="person-clear">
        </div>
        <form class="dcr-form" onsubmit="updateContactList(); return false">
            <fieldset class="dcr-fieldset">
                <div class="dcr-input-group">
                    <input id="add-contact-name" class="dcr-input" type="text" placeholder="Name">
                    <img class="dcr-img" src="./img/person.png" alt="person">
                </div>
                <div class="dcr-input-group">
                    <input id="add-contact-mail" class="dcr-input" type="email" placeholder="Email">
                    <img class="dcr-img" src="./img/mail.png" alt="mail">
                </div>
                <div class="dcr-input-group">
                    <input id="add-contact-phone" class="dcr-input" type="tel" placeholder="Phone">
                    <img class="dcr-img" src="./img/call.png" alt="call">
                </div>
            </fieldset>
            <div class="dcr-button-bar">
                <button class="dcr-button-clear" onclick="closeDialog('dialog-add-contact')">
                    Cancel
                    <img class="dcr-button-img" src="./img/cancel.png" alt="cancel">
                </button>
                <button class="dcr-button-dark">
                    Create contact
                    <img class="dcr-button-img" src="./img/check.png" alt="check">
                </button>
            </div>
        </form>
    </div>
</section>