<section class="dialog-box">
    <img class="dialog-close-button" src="./assets/img/close.svg" alt="close">
    <h1 class="add-task-headline-dialog">Add Task</h1>

    <form class="add-task-form-dialog" onsubmit="">
        <fieldset class="add-task-fieldset gap-16">
            <div class="task-label-input-group">
                <label class="task-label-text" for="task-title">Title<span class="tlt-required">*</span></label>
                <div class="task-input-hint-group">
                    <input id="task-title" class="task-input" type="text" placeholder="Enter a title" required>
                    <div class="task-hint">This field is required</div>
                </div>
            </div>
            <div class="task-label-input-group">
                <label class="task-label-text" for="task-description">Description</label>
                <div class="task-input-hint-group">
                    <textarea name="task-description" id="task-description" class="task-textarea" cols="30" rows="10"
                        placeholder="Enter a description" required></textarea>
                    <div class="task-hint">This field is required</div>
                </div>
            </div>
            <div class="task-label-input-group">
                <label class="task-label-text" for="task-assignment">Assigned to</label>
                <div class="p-relative">
                    <select name="task-assignment" id="task-assignment" class="task-select">
                        <option value="0">Select contacts to assign</option>
                        <option value="1">You</option>
                        <option value="i">User i</option>
                    </select>
                    <img class="task-drop-down-arrow" src="./assets/img/drop-down-arrow.svg" alt="drop-down-arrow">
                </div>
            </div>
        </fieldset>
        <img class="vertical-line-task-form" src="./assets/img/vertical-line-task-form.svg"
            alt="vertical-line-task-form">
        <fieldset class="add-task-fieldset gap-24">
            <div class="task-label-input-group">
                <label class="task-label-text" for="task-due-date">Due date<span class="tlt-required">*</span></label>
                <div class="task-input-hint-group">
                    <input id="task-due-date" class="task-input c-gray" type="date" required>
                    <div class="task-hint">This field is required</div>
                </div>
            </div>
            <div class="task-label-input-group">
                <label class="task-label-text" for="task-priority">Prio</label>
                <div class="priority-button-group">
                    <button id="priority-urgent-button" class="priority-button pb-white">
                        <div class="priority-button-text">Urgent</div>
                        <img class="priority-img" src="./assets/img/prio-urgent.svg" alt="prio-urgent">
                    </button>
                    <button id="priority-medium-button" class="priority-button pb-orange">
                        <div class="priority-medium-button-text">Medium</div>
                        <img class="priority-img" src="./assets/img/prio-medium.svg" alt="prio-medium">
                    </button>
                    <button id="priority-low-button" class="priority-button pb-white">
                        <div class="priority-button-text">Low</div>
                        <img class="priority-img" src="./assets/img/prio-low.svg" alt="prio-low">
                    </button>
                </div>
            </div>
            <div class="task-label-input-group">
                <label class="task-label-text" for="task-category">Category<span class="tlt-required">*</span></label>
                <div class="p-relative">
                    <select name="task-category" id="task-category" class="task-select">
                        <option value="0">Select task category</option>
                        <option value="1">To do</option>
                        <option value="i">Testing</option>
                    </select>
                    <img class="task-drop-down-arrow" src="./assets/img/drop-down-arrow.svg" alt="drop-down-arrow">
                </div>
            </div>
            <div class="task-label-input-group">
                <label class="task-label-text" for="task-subtask">Subtasks</label>
                <div class="p-relative">
                    <input id="task-subtask" class="task-input" type="text" placeholder="Add new subtask" required>
                    <img class="task-plus" src="./assets/img/plus.svg" alt="plus">
                </div>
            </div>
        </fieldset>
    </form>

    <div class="add-task-bottom-group-dialog">
        <div class="add-task-hint-text"><span class="tlt-required">*</span>This field is required</div>
        <div class="clear-create-button-bar">
            <button class="clear-button">
                <div class="cb-text">Clear</div>
                <img class="cb-img" src="./assets/img/cancel.svg" alt="cancel">
            </button>
            <button class="create-task-button">
                <div class="ctb-text">Create Task</div>
                <img class="cb-img" src="./assets/img/check-task.svg" alt="check-task">
            </button>
        </div>
    </div>
</section>