<section class="dialog-contacts">
    <div class="dialog-contacts-left-clear">
        <img class="dialog-contacts-img" src="./assets/img/dialog-contacts-logo.svg" alt="dialog-contacts-logo">
        <div class="dialog-contacts-group">
            <div class="dcg-subgroup">
                <div class="dialog-contacts-headline">Add contact</div>
                <div class="dialog-contacts-subheadline">Tasks are better with a team!</div>
            </div>
            <img class="dialog-contacts-underline" src="./assets/img/dialog-contacts-underline.svg"
                alt="dialog-contacts-underline">
        </div>
    </div>
    <div class="dialog-contacts-right">
        <img class="dcr-close-button" src="./assets/img/close.svg" alt="close">
        <img class="dcr-profile-clear" src="./assets/img/person-contacts-dialog.svg" alt="person-contacts-dialog">
        <form class="dcr-form">
            <fieldset class="dcr-fieldset">
                <div class="dcr-input-group">
                    <input class="dcr-input" type="text" placeholder="Name" required>
                    <img class="dcr-img" src="./assets/img/person.svg" alt="person">
                </div>
                <div class="dcr-input-group">
                    <input class="dcr-input" type="email" placeholder="Email">
                    <img class="dcr-img" src="./assets/img/mail.svg" alt="mail">
                </div>
                <div class="dcr-input-group">
                    <input class="dcr-input" type="tel" placeholder="Number">
                    <img class="dcr-img" src="./assets/img/phone.svg" alt="phone">
                </div>
            </fieldset>
            <div class="dcr-button-bar">
                <button class="dcr-button-clear">
                    Cancel
                    <img class="dcr-button-img" src="./assets/img/cancel.svg" alt="cancel">
                </button>
                <button class="dcr-button-dark">
                    Create contact
                    <img class="dcr-button-img" src="./assets/img/check-save.svg" alt="check-save">
                </button>
            </div>
        </form>
    </div>
</section>