<section class="dialog-board-task">
    <div class="dbt-top-group">
        <h3 class="dbt-type dbt-type-green">Technical Task</h3>
        <img src="./assets/img/close.svg" alt="close">
    </div>
    <h2 class="dbt-title">CSS Architecture Planning</h2>
    <p class="dbt-description">Define CSS naming conventions and structure.</p>
    <div class="dbt-detail-group">
        <div class="dbt-detail">Due date: </div>
        <div>02/09/2023</div>
    </div>
    <div class="dbt-detail-group">
        <div class="dbt-detail">Priority: </div>
        <div class="dbt-priority">
            Urgent
            <img src="./assets/img/prio-urgent-board.svg" alt="prio-urgent-board">
        </div>
    </div>
    <div class="dbt-subcontent-group">
        <div class="dbt-subcontent">Assigned To:</div>
        <div class="dbt-collector">
            <div class="dbt-contact-group">
                <div class="dbt-contact-profile dbt-blue-green">SM</div>
                <div class="dbt-contact-name">Sofia Müller (You)</div>
            </div>
            <div class="dbt-contact-group">
                <div class="dbt-contact-profile dbt-purple">BZ</div>
                <div class="dbt-contact-name">Benedikt Ziegler</div>
            </div>
        </div>
    </div>
    <div class="dbt-subcontent-group">
        <div class="dbt-subcontent">Subtasks</div>
        <div class="dbt-collector">
            <div class="dbt-subtask-group">
                <img class="dbt-subtask-img" src="./assets/img/check-button-complete.svg" alt="check-button-complete">
                <div class="dbt-subtask-text">Establish CSS Methodology</div>
            </div>
            <div class="dbt-subtask-group">
                <img class="dbt-subtask-img" src="./assets/img/check-button-complete.svg">
                <div class="dbt-subtask-text">Setup Base Styles</div>
            </div>
        </div>
    </div>
    <div class="dbt-button-bar">
        <button class="dbt-button">
            <img src="./assets/img/delete.svg" alt="delete">
            <div class="dbt-button-text">Delete</div>
        </button>
        <img class="dbt-button-separator" src="./assets/img/vertical-line-dbt.svg" alt="vertical-line-dbt">
        <button class="dbt-button">
            <img src="./assets/img/edit.svg" alt="edit">
            <div class="dbt-button-text">Edit</div>
        </button>
    </div>
</section>