<section class="dialog-board-task">
    <div class="dbt-top-group">
        <h3 class="dbt-type">User Story</h3>
        <img src="./img/close.png" alt="close" class="closeOverlayIMG" onclick="closeDialog('dialog')">
    </div>
    <h2 class="dbt-title"></h2>
    <p class="dbt-description"></p>
    <div class="dbt-detail-group">
        <div class="dbt-detail">Due date: </div>
        <div class="dbt-date"></div>
    </div>
    <div class="dbt-detail-group">
        <div class="dbt-detail">Priority: </div>
        <div class="dbt-priority">
            Medium
            <img src="./img/medium-board.png" alt="prio-medium-board">
        </div>
    </div>
    <div class="dbt-subcontent-group">
        <div class="dbt-subcontent">Assigned To:</div>
        <div class="dbt-collector">

        </div>
    </div>
    <div class="dbt-subcontent-group">
        <div class="dbt-subcontent">Subtasks</div>
        <div id="subtask-content" class="dbt-collector">

        </div>
    </div>
    <div id="deleteAndEditTask" class="dbt-button-bar">
    </div>
</section>