<section class="dialog-board-task">
    <div class="dbt-top-group">
        <h3 class="dbt-type dbt-type-blue">User Story</h3>
        <img src="./img/close.png" alt="close" onclick="closeBoardOverlay()">
    </div>
    <h2 class="dbt-title">Kochwelt Page & Recipe Recommender</h2>
    <p class="dbt-description">Build start page with recipe recommendation.</p>
    <div class="dbt-detail-group">
        <div class="dbt-detail">Due date: </div>
        <div>10/05/2023</div>
    </div>
    <div class="dbt-detail-group">
        <div class="dbt-detail">Priority: </div>
        <div class="dbt-priority">
            Medium
            <img src="./img/medium-board.png" alt="prio-medium-board">
        </div>
    </div>
    <div class="dbt-subcontent-group">
        <div class="dbt-subcontent">Assigned To:</div>
        <div class="dbt-collector">
            <div class="dbt-contact-group">
                <div class="dbt-contact-profile dbt-green">EM</div>
                <div class="dbt-contact-name">Emmanuel Mauer</div>
            </div>
            <div class="dbt-contact-group">
                <div class="dbt-contact-profile dbt-dark-blue">MB</div>
                <div class="dbt-contact-name">Marcel Bauer</div>
            </div>
            <div class="dbt-contact-group">
                <div class="dbt-contact-profile dbt-blue">AM</div>
                <div class="dbt-contact-name">Anton Mayer</div>
            </div>
        </div>
    </div>
    <div class="dbt-subcontent-group">
        <div class="dbt-subcontent">Subtasks</div>
        <div class="dbt-collector">
            <div class="dbt-subtask-group">
                <img class="dbt-subtask-img" src="./img/checkmark.png" alt="check-button-complete">
                <div class="dbt-subtask-text">Implement Recipe Recommendation</div>
            </div>
            <div class="dbt-subtask-group">
                <img class="dbt-subtask-img" src="./img/checkmark-unchecked.png" alt="check-button-empty">
                <div class="dbt-subtask-text">Start Page Layout</div>
            </div>
        </div>
    </div>
    <div class="dbt-button-bar">
        <button class="dbt-button">
            <img src="./img/delete.png" alt="delete">
            <div class="dbt-button-text">Delete</div>
        </button>
        <img class="dbt-button-separator" src="./img/vector-board-form.png" alt="vertical-line-dbt">
        <button class="dbt-button">
            <img src="./img/edit2.png" alt="edit">
            <div class="dbt-button-text">Edit</div>
        </button>
    </div>
</section>