<section class="contact-viewer-mobile" onclick="stop(event)">
    <button class="contact-more-button">
        <img class="contact-more-button-img" src="./img/more-vert.png" alt="more-vert">
    </button>
    <div class="contact-viewer-header-mobile">
        <h1 class="contact-viewer-headline-mobile">Contacts</h1>
        <div class="contact-viewer-subheadline-mobile">Better with a team</div>
        <img class="contact-viewer-img-mobile" src="./img/underline-dialog.png" alt="underline-dialog">
    </div>

    <div class="contact-user-mobile">
        <div class="contact-user-header-mobile">
            <div id="contact-user-profile-mobile" class="contact-user-profile-mobile bgc-flexible">AM</div>
            <div id="contact-user-name-mobile" class="contact-user-name-mobile">Anton Mayer</div>
        </div>
        <div class="contact-user-info-mobile">
            Contact Information
        </div>
        <div class="contact-user-detail-group">
            <div class="contact-user-detail">
                <div class="cud-title">Email</div>
                <div id="contact-user-mail-mobile" class="cud-mail">anton@gmail.com</div>
            </div>
            <div class="contact-user-detail">
                <div class="cud-title">Phone</div>
                <div id="contact-user-phone-mobile" class="cud-phone">+ 49 1111 111 11 1</div>
            </div>
        </div>
    </div>
</section>