<section class="dialog-contacts" onclick="stop(event)">
    <div class="dialog-contacts-left">
        <img class="close-contact-form-mobile" src="./img/close-dialog-white.png" alt="close-dialog-white"
            onclick="closeDialog('dialog-edit-contact')">
        <img class="dialog-contacts-img" src="./img/logo-contact-form.png" alt="logo-contact-form">
        <div class="dialog-contacts-group">
            <div class="dialog-contacts-headline">Edit contact</div>
            <img class="dialog-contacts-underline" src="./img/underline-dialog.png" alt="underline-dialog">
        </div>
    </div>
    <div class="dialog-contacts-right">
        <img class="close-contact-form" src="./img/close-dialog.png" alt="close-dialog"
            onclick="closeDialog('dialog-edit-contact')">
        <div id="edit-contact-profile" class="contact-form-profile bgc-flexible">TW</div>
        <form id="edit-contact-form" class="add-contact-form">
            <fieldset class="add-contact-fieldset">
                <div class="add-contact-input-group">
                    <input id="edit-contact-name" class="add-contact-input" type="text" placeholder="Name" required
                        value="Tatjana Wolf">
                    <img class="contact-input-img" src="./img/person.png" alt="person">
                </div>
                <div class="add-contact-input-group">
                    <input id="edit-contact-mail" class="add-contact-input" type="email" placeholder="Email"
                        value="wolf@gmail.com">
                    <img class="contact-input-img" src="./img/mail.png" alt="mail">
                </div>
                <div class="add-contact-input-group">
                    <input id="edit-contact-phone" class="add-contact-input" type="tel" placeholder="Number"
                        value="+49 2222 222 22 2">
                    <img class="contact-input-img" src="./img/call.png" alt="call">
                </div>
            </fieldset>
            <div class="contact-form-button-bar">
                <button id="delete-contact-button-mobile" class="contact-form-button">
                    <div class="contact-form-button-text">Delete</div>
                </button>
                <button id="save-edited-contact-button" class="contact-form-button-dark">
                    <div class="contact-form-button-dark-text">Save</div>
                    <img class="contact-form-button-img" src="./img/check.png" alt="check">
                </button>
            </div>
        </form>
    </div>
</section>