<header>
    <span class="header-text">Kanban Project Management</span>
    <img class="header-mobile-img d-none" src="./img/Capa 1.png" alt="" />
    <div class="header-img">
        <div class="center">
            <a target="_blank" href="help.html"><img class="help-img" src="./img/help-large.png" alt="help" /></a>
        </div>
        <div class="dropdown-menu" onclick="closeDropdown()">
            <div class="profile-img"  id="loggedin-user-logo"><div class="user-initials" id="user-initials"></div></div>
            <div id="dropDownMenu" class="dropdown-content">
                <a target="_blank" href="./legal_notice.html">Legal Notice</a>
                <a target="_blank" href="./privacy_policy.html">Privacy Policy</a>
                <a href="login.html" onclick="logout()">Log out</a>
            </div>
        </div>
    </div>
</header>

<div class="side-bar">
    <div><img class="join-logo-right-corner" src="./img/join-white.png" alt="join-logo" /></div>
    <div class="button-container-side-bar">
        <a class="button-side-bar" href="./summary.html">
            <img class="button-side-bar-img" src="./img/summary.png" alt="summary-logo" />
            <span>Summary</span>
        </a>
        <a class="button-side-bar" href="./add-task.html">
            <img class="button-side-bar-img" src="./img/edit_square.png" alt="add-tasks-logo" />
            <span>Add Task</span>
        </a>
        <a class="button-side-bar" href="./board.html">
            <img class="button-side-bar-img" src="./img/Vector.png" alt="board-logo" />
            <span>Board</span>
        </a>
        <a class="button-side-bar" href="./contacts.html">
            <img class="button-side-bar-img" src="./img/perm_contact_calendar.png" alt="contacts-logo" />
            <span>Contacts</span>
        </a>
    </div>
    <div class="policy-container">
        <div><a target="_blank" href="./privacy_policy.html">Privacy Policy</a></div>
        <div><a target="_blank" href="./legal_notice.html">Legal Notice</a></div>
    </div>
</div>
<div class="mobile-navbar">
    <a class="button-side-bar" href="./summary.html">
        <img class="button-side-bar-img" src="./img/summary.png" alt="summary-logo" />
        <span>Summary</span>
    </a>
    <a class="button-side-bar" href="./board.html">
        <img class="button-side-bar-img" src="./img/Vector.png" alt="board-logo" />
        <span>Board</span>
    </a>
    <a class="button-side-bar" href="./add-task.html">
        <img class="button-side-bar-img" src="./img/edit_square.png" alt="add-tasks-logo" />
        <span>Add Tasks</span>
    </a>

    <a class="button-side-bar" href="./contacts.html">
        <img class="button-side-bar-img" src="./img/perm_contact_calendar.png" alt="contacts-logo" />
        <span>Contacts</span>
    </a>
</div>
