body {
    margin: 0;
    font-family: 'Inter';
    background-color: #F6F7F8;
}

header {
    z-index: 100;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    height: 96px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 20px 40px 20px 348px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1);
}

header span {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-img {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}
.side-bar {
    z-index: 200;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #2A3647;
    height: 100vh;
    width: 232px;
    color: white;
    justify-content: space-between;
    align-items: center;
    padding: 64px 0 64px 0;
    box-sizing: border-box;
}

.join-logo-right-corner {
    width: 100px;
    height: 122px; 
}

.button-container-side-bar {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.button-side-bar {
    display: flex;
    align-items: center;
    padding: 8px 64px 8px 64px;
    gap: 8px;
    color: #CDCDCD;
    box-sizing: border-box;
    cursor: pointer;
}

.button-side-bar:hover {
    background-color: #2A3D59;
}

.bg-color-button-sidebar {
    background-color: #091931;
}

.button-side-bar a {
    text-decoration: none;
    color: #CDCDCD;
}

.policy-container {
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    height: 317px;
    padding: 243px 0 0 0px;
    gap: 4px;
}

.policy-container span {
    padding: 8px;
    gap: 8px;
    color: #A8A8A8;
    cursor: pointer;
}

.policy-container span:hover{
    color: #29ABE2;
    font-weight: 700;
}

