.add-task-headline {
    display: flex;
    height: 73px;
    margin-top: 206px;
    margin-left: 328px;
    gap: 1px;
    font-size: 61px;
    font-weight: 700;
}

.display-flex {
    display: flex;
    margin-left: 328px;
    max-width: 1074px;
}

.left-side-inputs {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 48px;
    width: 440px;
    min-width: 200px;
    height: 376px;
}

.single-input-container {
    display: flex;
    flex-direction: column;
    height: 96px;
    gap: 8px;
}

.red-star {
    color: red;
}

.input-single-line {
    display: flex;
    border: 1px solid #D1D1D1;
    border-radius: 10px;
    padding: 12px 21px 12px 21px;
    gap: 10px;
    font-size: 20px;
}

.input-single-line-subtask {
    display: flex;
    border: 1px solid #D1D1D1;
    background-image: url('../img/add-button.png');
    border-radius: 10px;
    padding: 12px 21px 12px 21px;
    gap: 10px;
    font-size: 20px;
}

.input-single-line::placeholder {
    color: #D1D1D1;
    font-family: inter;
    font-size: 20px;
}

.input-single-line:focus {
    border: 1px solid #29ABE2;
    outline: none;
}

.desc-input-container {
    display: flex;
    flex-direction: column;
    height: 168px;
    gap: 8px;
    resize: none;
}

.desc-textarea {
    display: flex;
    border: 1px solid #D1D1D1;
    border-radius: 10px;
    padding: 18px 16px 18px 16px;
    gap: 10px;
    font-size: 20px
}

.desc-textarea::placeholder {
    color: #D1D1D1;
    font-family: inter;
    font-size: 20px;
}

.desc-textarea:focus {
    border: 1px solid #29ABE2;
    outline: none;
}

.select-input {
    display: flex;
    height: 48px;
    appearance: none;
    background: center right 10px;
    background-image: url('../img/arrow_drop_downaa.png');
    background-repeat: no-repeat;
    border: 1px solid #D1D1D1;
    background-color: white;
    border-radius: 10px;
    padding: 12px 16px 12px 16px;
    gap: 10px;
}

.select-input:focus {
    background-image: url('../img/arrow_drop_down-up.png');
    outline: none;
    border: 1px solid #29ABE2;
}

.border-between {
    height: 424px;
    margin-top: 48px;
    margin-left: 48px;
    border: 1px solid #D1D1D1;
}

.right-side-inputs {
    display: flex;
    flex-direction: column;
    margin-top: 48px;
    max-width: 440px;
    min-width: 200px;
    margin-left: 96px;
    margin-right: 48px;
    gap: 16px;
    box-sizing: border-box;
}

.prio-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.prio-container p {
    margin: 0;
    min-width: 20px;
}

.prio-select-con {
    display: flex;
    gap: 15px;
    cursor: pointer;
    flex-wrap: wrap;
}

.prio-selection {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    width: 136px;
    height: 56px;
    padding: 16px 10px 16px 10px;
    background-color: white;
    border-radius: 10px;
    gap: 8px;
    font-size: 20px;
}

.medium-selection {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    width: 136px;
    height: 56px;
    padding: 16px 10px 16px 10px;
    background-color: #FFA800;
    color: white;
    border-radius: 10px;
    gap: 8px;
    font-size: 20px;
    font-weight: 700;
}

.select-input-category {
    display: flex;
    height: 48px;
    appearance: none;
    background: center right 10px;
    background-image: url('./img/arrow_drop_downaa.png');
    background-repeat: no-repeat;
    border: 1px solid #D1D1D1;
    background-color: white;
    border-radius: 10px;
    padding: 12px 16px 12px 16px;
    gap: 10px;
}

.bottom-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-left: 328px;
    max-width: 1026px;
    margin-right: 48px;
    margin-top: 146px;
}

.bottom-button-container {
    display: flex;
    gap: 16px;
}

.createBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 21px;
    font-weight: 700;
    width: 183px;
    padding: 16px;
    background-color: #2A3647;
    color: white;
    border: unset;
    border-radius: 10px;
    gap: 4px;
    cursor: pointer;
}

.createBtn img {
    width: 24px;
    height: 24px;
}

.clearBtn {
    display: flex;
    padding: 16px;
    gap: 4px;
    border: 1px solid #2A3647;
    border-radius: 10px;
    width: 110px;
    height: 56px;
    font-size: 21px;
    font-weight: 400;
    cursor: pointer;

}

.createBtn:hover {
    cursor: pointer;
    background-color: #29ABE2;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    transition: all 150ms ease;
}

.clearBtn:hover {
    cursor: pointer;
    color: #29ABE2;
    border: 2px solid #29ABE2;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    transition: all 150ms ease;
}