.bgc-lightblue {
    background-color: #29ABE2;
}

.bgc-orange {
    background-color: #FF7A00;
}

.bgc-purple {
    background-color: #9327FF;
}

.bgc-blue {
    background-color: #6E52FF;
}

.bgc-magenta {
    background-color: #FC71FF;
}

.bgc-yellow {
    background-color: #FFBB2B;
}

.bgc-green {
    background-color: #1FD7C1;
}

.bgc-dark-blue {
    background-color: #462F8A;
}

.bgc-red {
    background-color: #FF4646;
}

.bgc-cyan {
    background-color: #00BEE8;
}