/* general css */
.content {
    width: calc(100% - 232px);
    position: absolute;
    top: 96px;
    left: 232px;
}

.p-relative {
    position: relative;
}

.content-row {
    display: flex;
    flex-direction: row;
}


/* contacts css */
.contacts {
    box-sizing: border-box;
    padding-left: 28px;
    width: 456px;
    height: 928px;
    background-color: #FFFFFF;
    filter: drop-shadow(4px 0 6px rgba(0, 0, 0, 0.08));
    overflow-y: auto;
}

.contacts-header {
    padding-top: 22.5px;
    width: 400px;
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
}

.add-contact-button {
    box-sizing: border-box;
    padding: 12px 0;
    width: 352px;
    background-color: #2A3647;
    border: unset;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.acb-text {
    width: 175px;
    height: 25px;
    font-family: 'Inter', sans-serif;
    font-size: 21px;
    font-weight: 700;
    line-height: 25.2px;
    color: #FFFFFF;
}

.acb-img {
    width: 32px;
    height: 32px;
    object-fit: cover;
    object-position: centers;
}

.contacts-collector {
    box-sizing: border-box;
    padding: 8px 24px 32px 24px;
    width: 400px;
    display: flex;
    flex-direction: column;
}

.contacts-letter {
    box-sizing: border-box;
    margin-bottom: 8px;
    padding: 17px 36px;
    width: 100%;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    border-bottom: 1px solid #D1D1D1;
}

.contacts-contact {
    box-sizing: border-box;
    padding: 15px 24px;
    width: 352px;
    border-radius: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 35px;
}

.contacts-contact:hover {
    color: #FFFFFF;
    background-color: #2A3647;
    border-radius: 10px;
}

.contact-profile {
    box-sizing: border-box;
    width: 42px;
    height: 42px;
    font-family: 'Inter', sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 14.4px;
    color: white;
    border: 2px solid #FFFFFF;
    border-radius: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bgc-orange {
    background-color: #FF7A00;
}

.bgc-purple {
    background-color: #9327FF;
}

.bgc-blue {
    background-color: blue;
}

.bgc-magenta {
    background-color: #FC71FF;
}

.bgc-yellow {
    background-color: #FFBB2B;
}

.bgc-green {
    background-color: #1FD7C1;
}

.bgc-dark-blue {
    background-color: #462F8A;
}

.bgc-red {
    background-color: #FF4646;
}

.name-email-group {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.contact-name {
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
}

.contact-email {
    height: 19px;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 19.2px;
    color: #007CEE;
}

.contact-viewer {
    padding: 110px 55px;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.contact-viewer-header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 30px;
}

.contact-viewer-headline {
    margin: 0;
    height: 73px;
    font-family: 'Inter', sans-serif;
    font-size: 61px;
    font-weight: 700;
    line-height: 73.2px;
}

.contact-viewer-img {
    width: 3px;
    height: 59px;
    object-fit: cover;
    object-position: center;
}

.contact-viewer-subheadline {
    height: 32px;
    font-family: 'Inter', sans-serif;
    font-size: 27px;
    font-weight: 400;
    line-height: 32.4px;
    color: #2A3647;
}

.contact-user {
    display: flex;
    flex-direction: column;
    gap: 21px;
}

.contact-user-header {
    width: fit-content;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 54px;
}

.contact-user-profile {
    box-sizing: border-box;
    width: 120px;
    height: 120px;
    font-family: 'Inter', sans-serif;
    font-size: 47px;
    font-weight: 500;
    line-height: 56.4px;
    text-align: center;
    color: #FFFFFF;
    border: 3px solid #FFFFFF;
    border-radius: 70px;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-user-group {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.contact-user-name {
    font-family: 'Inter', sans-serif;
    font-size: 47px;
    font-weight: 500;
    line-height: 56.4px;
}

.contact-user-button-group {
    display: flex;
    gap: 16px;
}

.contact-user-button {
    padding: 0;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 19.2px;
    color: #2A3647;
    border: unset;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.cub-img {
    width: 24px;
    height: 24px;
    object-fit: cover;
    object-position: center;
}

.contact-user-info {
    width: fit-content;
    height: 74px;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-user-detail-group {
    display: flex;
    flex-direction: column;
    gap: 22px;
}

.contact-user-detail {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.cud-title {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 19.2px;
}

.cud-mail {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 19.2px;
    color: #007CEE;
}

.cud-phone {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 19.2px;
}