/* dialog-edit-contact */
#dialog-edit-contact[open] {
    display: flex;
    background-color: rgba(0, 0, 0, 0.25);
}

.dialog-contacts {
    border-radius: 30px;
    display: flex;
    position: absolute;
    top: calc(50vh - 296px);
    left: 100%;
    /* left: calc(50% - 606px); */
    transition: 125ms left ease-in-out;
}

.dialog-contacts-position {
    left: calc(50% - 606px);
    /* left: 100%; */
}

.dialog-contacts-left {
    box-sizing: border-box;
    padding: 66px 48px;
    height: 594px;
    background-color: #2A3647;
    border-radius: 30px 0 0 30px;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.dialog-contacts-img {
    padding-top: 88px;
    width: 53.93px;
    height: 66.48px;
    object-fit: cover;
    object-position: center;
}

.dialog-contacts-group {
    display: flex;
    flex-direction: column;
    gap: 13px;
}

.dialog-contacts-headline {
    font-family: 'Inter', sans-serif;
    font-size: 61px;
    font-weight: 700;
    line-height: 73.2px;
    color: #FFFFFF;
}

.dialog-contacts-underline {
    width: 90px;
    height: 3px;
    object-fit: cover;
    object-position: center;
}

.dialog-contacts-right {
    padding: 66px 48px 66px 97px;
    background-color: #FFFFFF;
    border-radius: 0 30px 30px 0;
    display: flex;
    gap: 72px;
    position: relative;
    overflow-x: hidden;
}

.close-contact-form {
    position: absolute;
    top: 48px;
    right: 48px;
}

.close-contact-form:hover {
    background-color: #EEEEEE;
    border-radius: 16px;
}

.contact-form-profile {
    box-sizing: border-box;
    margin-top: 138px;
    width: 120px;
    min-width: 120px;
    height: 120px;
    min-height: 120px;
    font-family: 'Inter', sans-serif;
    font-size: 47px;
    font-weight: 500;
    line-height: 56.4px;
    text-align: center;
    color: #FFFFFF;
    border: 3px solid #FFFFFF;
    border-radius: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.add-contact-form-group {
    display: flex;
    flex-direction: column;
    gap: 48px;
}

.add-contact-form {
    margin-top: 71px;
}

.add-contact-fieldset {
    margin: 0;
    border: unset;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.add-contact-input-group {
    box-sizing: border-box;
    padding: 12px 21px;
    width: 422px;
    border: 1px solid #D1D1D1;
    border-radius: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

.add-contact-input-group:focus-within {
    border: 1px solid #29ABE2;
}

.add-contact-input {
    padding: 0;
    border: unset;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    flex: 1;
    outline: none;
}

.add-contact-input::placeholder {
    color: #D1D1D1;
}

.contact-input-img {
    width: 24px;
    height: 24px;
    object-fit: cover;
    object-position: center;
}

.contact-form-button-bar {
    width: fit-content;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 25px;
}

.contact-form-button {
    box-sizing: border-box;
    padding: 14px 23px;
    width: 110px;
    height: 56px;
    background-color: transparent;
    border: 1px solid #2A3647;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-form-button:hover {
    border: 2px solid #29ABE2;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.contact-form-button:active {
    border: 1px solid #091931;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.contact-form-button-text {
    font-family: 'Inter', sans-serif;
    font-size: 21px;
    font-weight: 400;
    line-height: 25.2px;
    color: #2A3647;
}

.contact-form-button:hover .contact-form-button-text {
    color: #29ABE2;
}

.contact-form-button:active .contact-form-button-text {
    color: #091931;
}

.contact-form-button-img {
    width: 24px;
    height: 24px;
    object-fit: cover;
    object-position: center;
}

.contact-form-button-dark {
    padding: 16px;
    background-color: #2A3647;
    border: unset;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
}

.contact-form-button-dark:hover {
    background-color: #29ABE2;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.contact-form-button-dark:active {
    background-color: #091931;
    ;
}

.contact-form-button-dark-text {
    font-family: 'Inter', sans-serif;
    font-size: 21px;
    font-weight: 700;
    line-height: 25.2px;
    color: #FFFFFF;
}


/* dialog-add-contact */
#dialog-add-contact[open] {
    display: flex;
    background-color: rgba(0, 0, 0, 0.25);
}

.dialog-contacts-left-clear {
    box-sizing: border-box;
    padding: 66px 48px;
    height: 594px;
    background-color: #2A3647;
    border-radius: 30px 0 0 30px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.close-contact-form-mobile {
    display: none;
    position: absolute;
    top: 24px;
    right: 16px;
}

.close-contact-form-mobile:hover {
    background-color: #29ABE2;
    border-radius: 16px;
}

.dialog-contacts-subgroup {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.dialog-contacts-subheadline {
    font-family: 'Inter', sans-serif;
    font-size: 27px;
    font-weight: 400;
    line-height: 32.4px;
    color: #FFFFFF;
}

.contact-form-profile-clear {
    box-sizing: border-box;
    margin-top: 138px;
    width: 120px;
    min-width: 120px;
    height: 120px;
    min-height: 120px;
    font-family: 'Inter', sans-serif;
    font-size: 47px;
    font-weight: 500;
    line-height: 56.4px;
    text-align: center;
    color: #FFFFFF;
    background-color: #D1D1D1;
    border: 3px solid #FFFFFF;
    border-radius: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-form-button-clear {
    box-sizing: border-box;
    padding: 15px;
    width: 126px;
    height: 56px;
    background-color: transparent;
    border: 1px solid #2A3647;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
}

.contact-form-button-clear:hover {
    border: 2px solid #29ABE2;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.contact-form-button-clear:active {
    color: #091931;
    border: 1px solid #091931;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.contact-form-button-text {
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    color: #2A3647;
}

.contact-form-button-clear:hover .contact-form-button-text {
    color: #29ABE2;
}

.contact-form-button-clear:active .contact-form-button-text {
    color: #091931;
}

.contact-form-cancel-img {
    width: 24px;
    height: 24px;
    background-image: url('../img/cancel.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.contact-form-button-clear:hover .contact-form-cancel-img {
    background-image: url('../img/cancel-blue.png');
}

.contact-form-button-clear:active .contact-form-cancel-img {
    background-image: url('../img/cancel.png');
}


/* backlog contact */
.backlog-contact {
    width: 326px;
    height: 74px;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    color: #FFFFFF;
    background-color: #2A3647;
    border-radius: 20px;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 110px;
    left: 100%;
    transition: 125ms left ease-out;
}

.backlog-add-contact {
    width: 326px;
    height: 74px;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    color: #FFFFFF;
    background-color: #2A3647;
    border-radius: 20px;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 33px;
    left: 100%;
    transition: 125ms left ease-out;
}