.login-text-child p {
    font-size: 42px !important;
}

.border {
    width: 250px;
    transition: 1s all ease;
}

.joinLogo {
    position: absolute;
    left: 0;
    top: 0;
    transform: translate(0%, 0%);
    margin: 64px;
    width: 100px;
    height: 122px;
    transition: all 0.3s ease;
    z-index: 999;
}

.joinLogo:hover {
    cursor: pointer;
    width: 105px;
    height: 127px;
    transition: all 0.3s ease;
}

.input-password {
    display: flex;
    flex-direction: column;
    gap: 30px;
    height: auto;
}

.enter-new-pw {
    margin-top: 8px;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    justify-content: space-between;
}

.wrong-password p {
    font-size: 13px !important;
}

.wrong-password {
    margin: 0;
}

.enter-new-pw p {
    margin: 0;
    font-size: 16px;
}

.login-main {
    height: 480px;
}

a {
    text-decoration: none;
}