@media (max-width: 680px) {
    .login-main {
        width: 85%;
    }
}

@media (max-width: 600px) {
    .input-child {
        width: 100%;
    }

    .input-container {
        width: 85%;
    }

    .sign-up-container {
        display: none;
    }
    
    .sign-up-mobile {
        display: flex;
    }

    .joinLogo {
        width: 50px !important;
        height: 64px !important;
        top: -50px !important;
        left: -50px !important;
    }
}

@media (max-width: 450px) {
    .login-text-child p {
        font-size: 47px;
    }

    .checkbox-container {
        /* flex-direction: column; Brauchen wir das? Falls nicht, bitte löschen. @Janik*/ 
        align-items: flex-start;
        gap: 10px;
    }

    .button-login-container {
        flex-direction: column;
        height: auto;
        width: 180px;
    }

    .button-login {
        width: 180px;
    }

    .login-main {
        height: 515px;
    }
}

@media (max-width: 553px) {
    .checkbox-child {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
        margin: 0 0px 0 0px;
        text-align: center;
    }

    .checkbox-container {
        justify-content: space-between;
    }

    .checkbox {
        margin: 0 8px 0 0;
    }
}

@media (max-width: 451px) {
    .checkbox-container p {
        font-size: 14px;
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: space-between;
    }
}